.checkbox-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.checkbox-wrapper label {
    color: #4E4B66;
    font-size: 1rem;
}


input[type=checkbox] {
    width: 35px;
    height: 35px;
    color: #6308F7;
    vertical-align: middle;
    -webkit-appearance: none;
    background: none;
    border: 0;
    outline: 0;
    flex-grow: 0;
    border-radius: 50%;
    background-color: #D9DBE9;
    cursor: pointer;
}

input[type=checkbox]:checked {
    background-color: #6308F7;
}

.checkbox-wrapper input[type=checkbox] {
    border: 8px solid #EFF0F7;
}

.checkbox-wrapper input[type=checkbox]:checked {
    border: 8px solid #EEE5FE;
    position: relative;
    background-image: url('../../../../public/img/checkmark.svg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.actor-card .checkbox-wrapper {
    position: absolute;
    top: -.75em;
    right: -.75em;
    z-index: 1;
}

@media screen and (min-width: 767px) {
    input[type=checkbox] {
        width: 50px;
        height: 50px;
    }

    .checkbox-wrapper input[type=checkbox],
    .checkbox-wrapper input[type=checkbox]:checked {
        border-width: 11px;
    }
}