.alert {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 8px;
    padding: .5em;
    font-weight: 600;
}

.alert img {
    margin-right: 1em;
    margin-left: 1em;
}

.alert.success {
    background-color: #E5FFF2;
    color: #00994D;
}

.alert.warning {
    background-color: #FEFEE5;
    color: #6A5300;
}

.alert.danger {
    background-color: #FFE5F2;
    color: #ED2E7E;
}

.close-alert {
    background-color: inherit;
    color: inherit;
    width: fit-content;
    font-weight: 400;
    margin-left: auto;
}