.secondary {
    border: 1px solid #6308f7;
    border-radius: 8px;
    padding: 8px 54px;
    cursor: pointer;
    color: #6308f7;
    font-size: 10px;
    font-weight: 600;
    line-height: 12px;
    text-align: center;
    margin-bottom: 20px;
}

.secondary:hover {
    border: 2px solid #3c0594;
    color: #3c0594;
}

.secondary:focus {
    border: 1px solid #eee5fe;
}

.primary {
    border: 1px solid #6308f7;
    border-radius: 10px;
    background-color: #eee5fe;
    padding: 10px 66px;
    color: #14142b;
    font-weight: 500;
    font-size: 14px;
    line-height: 16.8px;
    text-align: center;
    margin-bottom: 20px;
}

.primary img {
    display: none;
}
/* HOVER AND FOCUS */

.close-button {
 width: 24px;
 height: 24px;
 border-radius: 30px;
 box-shadow: 0px 3px rgba(0,0,0,0.1);
 text-align: center;
 position: absolute;
 top: 0px;
 left: 153px;
 cursor: pointer;
 color: #6e7191;
}

.close-button img {
    display: none;
}

.close-button.x {
    position: absolute;
    top: -35px;
    left: 340px;
}

.close-button.close-alert {
    position: static;  
    box-shadow: none;
    font-weight: 600;
}