button {
    width: 100%;
    padding: 12px 22px;
    border-radius: 8px;
    border: 1px solid ;
    border-color: #6308f7;
    text-align: center;
    font-weight: 600;
    font-size: 13px;
    line-height: 22px;
    letter-spacing: 0.25px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}


button.primary {       
    background-color: #6308f7;       
    color: #fcfcfc;    
}

button.primary:hover:not(:disabled) {
    background-color: #3c0594; 
}

button.primary:active:not(:disabled) {
    background-color: #14142b;
}

button.primary:focus {
    background-color: #6308f7;
    border: 8px solid #eee5fe;
}

button.primary:disabled {
    background-color: #6308f7;
    opacity: 50%;
}

button.secondary {
    background-color: #fff;
    color: #6308f7;
}

button.secondary:hover:not(:disabled) {
    border-color: #3c0594; 
    color: #3c0594;
}

button.secondary:active:not(:disabled) {
    border-color: #14142b;
    color: #14142b;
}

button.secondary:focus {
    border: 8px solid #eee5fe;
}

button.secondary:disabled {
    background-color: #6308f7;
    opacity: 50%;
}