form {
  display: flex;
  flex-direction: column;
}

.inputs {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}

form label {
  color: #4e4b66;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  margin-bottom: 16px;
}

form input {
  border-radius: 10px;
  background-color: #eff0f6;
  padding: 16px;
  color: #14142b;
  font-size: 15px;
  line-height: 18px;
  font-weight: 400;
}

form p {
  margin-top: 16px;
  text-align: center;
}

form .error {
  border: 2px solid #ed2e7e;
  background-color: #ffe5f2;
}

form textarea {
  border-radius: 10px;
  background-color: #eff0f6;
  padding: 16px;
  color: #14142b;
  font-size: 15px;
  line-height: 18px;
  font-weight: 400;
  max-width: 100%;
}

form .textarea {
  display: flex;
  flex-direction: column;  
  position: relative;
}

#remaining {
  font-weight: 300;
  font-size: 10px;
  line-height: 13px;
  position: absolute;
  bottom: 30px;
  left: 16px;
}

form button {
  margin: auto;
}

form .message {
  position: static;
  font-weight: 600;
  font-size: 13px;
  line-height: 22px;
  letter-spacing: 0.25px;
  color: #98014c;
  margin-top: 8px;
}


@media screen and (min-width:768px) {
  form .name-occupation {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:  10px;
  }  

  form label, input, textarea {
    font-size: 22px;
    line-height: 26.4px;
  }

  form p {
    font-size: 24px;
    line-height: 28.8px;
    margin-top: 24px;
  }

  #remaining {
    font-size: 18px;
    line-height: 23.4px;
    bottom: 10px;
  }

  form .textarea {
    margin-bottom: 56px;
  }
}