.no-actors-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 170px;
  
}

.no-actors-wrapper .sad {
    width: 91.67px;
    height: 91.67px;
}


.no-actors-wrapper p {
    font-weight: 400;
    font-size: 24px;
    line-height: 40px;
    color: #14142b;
    position: static;
    left: calc(50% - 335px/2);
    margin: 28px 20px 24px;
    text-align: center;
}

@media screen and (min-width:768px) {
    .no-actors-wrapper .sad {
        width: 183.33px;
        height: 183.33px;
        color: #4e4b66;
    }    
    .no-actors-wrapper p {
        font-size: 36px;
        line-height: 46.8px;
        width: 458px;
        margin: 73px auto;
    }

}