.form-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
}

.form-container .d-flex {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.input-container, .input-container.textarea {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.input-container.textarea {
    position: relative;
    margin-bottom: 1em;
}

.input-container label {
    color: #4E4B66;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: .5em;
}

.input-container input, .input-container textarea {
    background-color: #EFF0F7;
    border-radius: 10px;
    padding: 1em;
    width: 90%;
    border: none;
    outline: none;
    color: #14142B;
}

.input-container input.error , .input-container textarea.error {
background-color: #FFE5F2;
border: 2px solid #ED2E7E;
} 

.input-container textarea {
    min-height: 5rem;
    font-family: 'Poppins', sans-serif;
    padding-bottom: 3em;
}

.close-form {
    align-self: center;
    color: #14142B;
    font-weight: 600;
    text-align: center;
}

.input-container .char-remaining {
    background-color: transparent;
    position: absolute;
    bottom: 0%;
}

.input-container textarea.error ~ .char-remaining {
    bottom: 10%;
}

.form-container span.form-error{
    background-color: transparent;
    margin: 0;
    padding-left: 0;
    padding-bottom: 0;
    color: #98014C;
    font-weight: 600;
    font-size: 1em;
}

form a {
    align-self: center;
}

@media screen and (min-width: 767px) {
    .form-container .d-flex {
        flex-direction: row;
    }

    .d-flex .input-container {
        width: 47%;
        margin-bottom: 3rem;
    }
    
    .input-container .char-remaining {
        font-size: 1rem;
    }
}