.modal-wrapper {
    background-color: #fff;
    padding: 56px 20px 32px 20px;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; 
}

.modal-wrapper .modal-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.modal-wrapper .modal-container h1 {
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
    text-align: center;
    color: #14142b;
    margin-bottom: 32px;
}