.modal-wrapper {
  background-color: #fff;
  padding: 56px 20px 32px 20px;
  width: 100vw;
  position: fixed;
  left: 0;
  right: 0;
  box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 24px 24px 0px 0px;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-wrapper .modal-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
}

.modal-wrapper .modal-container .body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  height: 100%;
}

.modal-wrapper .modal-container .close {
  position: absolute;
  top: 18.81px;
  right: 25.88px;
}

.modal-wrapper .modal-container .close button {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #ffffff;
  color: #6e7191;
  border: none;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.modal-wrapper .modal-container h1 {
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
  text-align: center;
  color: #14142b;
  margin-bottom: 32px;
}
