.checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkbox {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #d9dbe9;
}

.checkbox-container input:checked ~ .checkbox {
  background-color: #6308f7;
}

.checkbox:after {
  content: '';
  position: absolute;
  display: none;
}

.checkbox-container input:checked ~ .checkbox:after {
  display: block;
}

.checkbox-container .checkbox:after {
  left: 13px;
  top: 8px;
  width: 7px;
  height: 12px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}


@media screen and (min-width:768px) {
  .checkbox {
    top: -20px;
    left: 60px;
  }  
}