@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin: 0;
  font-size: 13px;
  font-family: 'Poppins', sans-serif;  
  background-color: #F7F7FC;
}

a {
  text-decoration: none;
}

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;
  min-height: 100vh;
  height: fit-content;
}

.container {
  box-sizing: border-box;
  font-size: 13px;
  font-weight: 400;
  color: #14142B;
  margin: 0 .5rem;
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: #F7F7FC;
  overflow-y: scroll;
}

.actors-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

.sort-select {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 4%;
}


::-webkit-scrollbar {
  width: 0px; /* Adjust as needed */
  background-color: transparent; /* Make the background transparent */
}

::-webkit-scrollbar-thumb {
  background-color: transparent; /* Make the thumb (scrolling handle) transparent */
}

::-webkit-scrollbar-track {
  background-color: transparent; /* Make the track (area behind the thumb) transparent */
}

.sort-select-desktop {
  display: none;
}

@media screen and (min-width: 767px) {
  .actors-container {
    grid-template-columns: 1fr 1fr 1fr;
  }

  *:not(input) {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 992px) {
  .actors-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .container {
    margin: 0;
  }

  .actors-container {
    margin: 0 1rem;
  }

  .sort-select {
    display: none;
  }

  .sort-select-desktop {
    display: flex;
    background-color: #EFF0F6;
    justify-content: space-between;
    padding: 1rem;
  }

  .select-desktop {
    max-width: 4rem;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
    font-size: .75em;
  }
}

@media screen and (min-width: 1200px) {
  .actors-container {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}