.sort-container {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 767px) {
    .sort-container {
        margin: 0 7em;
    }
}


@media screen and (min-width: 920px) {
   .sort-container {
    margin: 0;
   }
}